<form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
  <!-- Email Input -->
  <div class="custom-input-container">
    <div class="custom-input-wrapper" [class.error]="form.controls.email.touched && form.controls.email.invalid">
      <div class="custom-input-label">
        <span class="label-text">{{ 'auth.email' | t }}<span class="required-asterisk">*</span></span>
        <span class="label-value">adminexample.com</span>
      </div>
      <input 
        type="email" 
        class="custom-input" 
        formControlName="email" 
      />
    </div>
    <div class="custom-error" *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
      {{ 'common.forms.required' | t }}
    </div>
    <div class="custom-error" *ngIf="form.controls.email.touched && form.controls.email.hasError('email')">
      {{ 'common.forms.invalidEmail' | t }}
    </div>
  </div>

  <!-- Password Input -->
  <div class="custom-input-container">
    <div class="custom-input-wrapper" [class.error]="form.controls.password.touched && form.controls.password.invalid">
      <div class="custom-input-label">
        <span class="label-text">{{ 'auth.password' | t }}<span class="required-asterisk">*</span></span>
        <span class="label-value">••••••••</span>
      </div>
      <input 
        type="password" 
        class="custom-input" 
        formControlName="password" 
      />
    </div>
    <div class="custom-error" *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
      {{ 'common.forms.required' | t }}
    </div>
  </div>

  <!-- Remember Toggle -->
  <mat-slide-toggle formControlName="remember">{{ 'auth.remember' | t }}</mat-slide-toggle>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit" [disabled]="loading" class="w-full">{{ 'auth.submit' | t }}</button>
</form>
